@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgHeroImage{
  background-image: url("./assets/hero.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
